<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<H1 th:text="${title}"></H1>
<!--<h1 th:text="${title}">Default Title</h1>-->

<nav th:replace="fragments :: navigation"></nav>
<form method="post" style="max-width:600px;">

    <div class="form-group">
    <label for="name-field">Name</label>
    <input class="form-control" id="name-field" type="text" name="name" th:value="${name}"/>
    </div>
    <div class="form-group">
        <label for="age-field">Age</label>
        <input class="form-control" id="age-field" type="text" name="age" th:value="${age}"/>
    </div>
    <div class="form-group">
        <label for="size-field">Size</label>
        <input class="form-control" id="size-field" type="text" name="size" th:value="${size}"/>
    </div>
    <div class="form-group">
        <label for="fixed-field">Spayed/Neutered</label>
        <input class="form-control" id="fixed-field" type="text" name="fixed" th:value="${fixed}"/>
    </div>
    <div class="form-group">
        <label for="idealFamily-field">Ideal Family</label>
        <input class="form-control" id="idealFamily-field" type="text" name="idealFamily" th:value="${idealFamily}"/>
    </div>
    <div class="form-group">
        <label for="personality-field">Personality</label>
        <input class="form-control" id="personality-field" type="text" name="personality" th:value="${personality}"/>
    </div>
    <div class="form-group">
        <label for="vocal-field">Is the animal vocal</label>
        <input class="form-control" id="vocal-field" type="text" name="vocal" th:value="${vocal}"/>
    </div>
    <div class="form-group">
        <label for="species-field">Species</label>
        <input class="form-control" id="species-field" type="text" name="species" th:value="${species}"/>
    </div>
    <div class="form-group">
        <label for="breed-field">Breed</label>
        <input class="form-control" id="breed-field" type="text" name="breed" th:value="${breed}"/>
    </div>
    <div class="form-group">
        <label for="adoptionStatus-field">Adoption Status</label>
        <input class="form-control" id="adoptionStatus-field" type="text" name="adoptionStatus" th:value="${adoptionStatus}"/>
    </div>
    <div class="form-group">
        <label for="pottyTrained-field">Is the animal potty trained</label>
        <input class="form-control" id="pottyTrained-field" type="text" name="pottyTrained" th:value="${pottyTrained}"/>
    </div>
    <div class="form-group">
        <label for="color-field">Color</label>
        <input class="form-control" id="color-field" type="text" name="color" th:value="${color}"/>
    </div>
    <div class="form-group">
        <label for="gender-field">Gender</label>
        <input class="form-control" id="gender-field" type="text" name="gender" th:value="${gender}"/>
    </div>
    <div class="form-group">
        <label for="training-field">Training/Tricks</label>
        <input class="form-control" id="training-field" type="text" name="training" th:value="${training}"/>
    </div>
    <div class="form-group">
        <label for="children-field">Good with children</label>
        <input class="form-control" id="children-field" type="text" name="children" th:value="${children}"/>
    </div>
    <div class="form-group">
        <label for="cats-field">Good with cats</label>
        <input class="form-control" id="cats-field" type="text" name="cats" th:value="${cats}"/>
    </div>
    <div class="form-group">
        <label for="dogFriendly-field">Dog Friendly</label>
        <input class="form-control" id="dogFriendly-field" type="text" name="dogFriendly" th:value="${dogFriendly}"/>
    </div>
    <div class="form-group">
        <label for="rescue-field">Rescue name</label>
        <input class="form-control" id="rescue-field" type="text" name="rescue" th:value="${rescue}"/>
    </div>
    <div class="form-group">
    <label for="location-field">Location</label>
    <input class="form-control" id="location-field" type="text" name="location" th:value="${location}"/>
    </div>
    <div class="form-group">
        <label for="interests-field">Interests</label>
        <input class="form-control" id="interests-field" type="text" name="interests" th:value="${interests}"/>
    </div>
    <div class="form-group">
        <label for="about-field">About</label>
        <input class="form-control" id="about-field" type="text" name="about" th:value="${about}"/>
    </div>
    <!--<div class="form-group">-->
        <!--<label for="imageLocation-field">Image</label>-->
        <!--<input class="form-control" id="imageLocation-field" type="text" name="imageLocation" th:value="${imageLocation}"/>-->
    <!--</div>-->


<input type="submit" value="Add Pet" />
</form>

<span class="error" th:text="${message}"></span>

</body>
</html>