<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Add a Pet</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${newPet}">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" id="name" type="text" name="name" th:value="${name}"/>
        <!--<span th:errors="*{name}" class="error"></span>-->
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input class="form-control" id="age" type="text" name="age" th:value="${age}"/>
        <!--<span th:errors="*{age}" class="error"></span>-->
    </div>
    <div class="form-group">
        <label for="size">Size</label>
        <input class="form-control" id="size" type="text" name="size" th:value="${size}"/>
        <!--<span th:errors="*{size}" class="error"></span>-->
    </div>
    <div class="form-group">
        <label for="fixed">Spayed/Neutered</label>
        <input class="form-control" id="fixed" type="text" name="fixed" th:value="${fixed}"/>
        <!--<span th:errors="*{fixed}" class="error"></span>-->
    </div>
    <div class="form-group">
        <label for="idealFamily">Ideal Family</label>
        <input class="form-control" id="idealFamily" type="text" name="idealFamily" th:value="${idealFamily}"/>
        <!--/<span th:errors="*{idealFamily}" class="error"></span>-->
    </div>
    <div class="form-group">
        <label for="personality">Personality</label>
        <input class="form-control" id="personality" type="text" name="personality" th:value="${personality}"/>
    </div>
    <div class="form-group">
        <label for="vocal">Is the animal vocal</label>
        <input class="form-control" id="vocal" type="text" name="vocal" th:value="${vocal}"/>
    </div>
    <div class="form-group">
        <label for="species">Species</label>
        <input class="form-control" id="species" type="text" name="species" th:value="${species}"/>
    </div>
    <div class="form-group">
        <label for="breed">Breed</label>
        <input class="form-control" id="breed" type="text" name="breed" th:value="${breed}"/>
    </div>
    <div class="form-group">
        <label for="adoptionStatus">Adoption Status</label>
        <input class="form-control" id="adoptionStatus" type="text" name="adoptionStatus" th:value="${adoptionStatus}"/>
    </div>
    <div class="form-group">
        <label for="pottyTrained">Is the animal potty trained</label>
        <input class="form-control" id="pottyTrained" type="text" name="pottyTrained" th:value="${pottyTrained}"/>
    </div>
    <div class="form-group">
    <label for="color">Color</label>
    <input class="form-control" id="color" type="text" name="color" th:value="${color}"/>
    </div>
    <div class="form-group">
    <label for="gender">Gender</label>
    <input class="form-control" id="gender" type="text" name="gender" th:value="${gender}"/>
    </div>
    <div class="form-group">
        <label for="training">Training</label>
        <input class="form-control" id="training" type="text" name="training" th:value="${training}"/>
    </div>
    <div class="form-group">
        <label for="children">Good with children</label>
        <input class="form-control" id="children" type="text" name="children" th:value="${children}"/>
    </div>
    <div class="form-group">
        <label for="cats">Good with cats</label>
        <input class="form-control" id="cats" type="text" name="cat" th:value="${cat}"/>
    </div>
    <div class="form-group">
        <label for="dogFriendly">Dog friendly</label>
        <input class="form-control" id="dogFriendly" type="text" name="dogFriendly" th:value="${dogFriendly}"/>
    </div>
    <div class="form-group">
        <label for="rescue">Rescue name</label>
        <input class="form-control" id="rescue" type="text" name="rescue" th:value="${rescue}"/>
    </div>
    <div class="form-group">
        <label for="location">Location</label>
        <input class="form-control" id="location" type="text" name="location" th:value="${location}"/>
    </div>
    <div class="form-group">
        <label for="interests">Interests</label>
        <input class="form-control" id="interests" type="text" name="interests" th:value="${interests}"/>
    </div>
    <div class="form-group">
        <label for="about">About</label>
        <input class="form-control" id="about" type="text" name="about" th:value="${about}"/>
    </div>


    <input type="submit" value="Add Pet" />
</form>

<span class="error" th:text="${message}"></span>

</body>
</html>