<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<h1 th:text="${title}">Default Title</h1>
<a href="/pop/user/logout">Logout</a>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${pets} and ${pets.size()}">No pets currently available. Check back soon! </p>

<!--<p><img th:src="@{~/static/images/Trooper.jpg}" width="420px" height="419px" alt="being cute"/> </p>-->

<table class="table">
    <tr th:each="Pet : ${pets}">
    <td><h2><a th:href="'/pop/pet/viewOne/' + ${Pet.id} + ''" th:text="${Pet.name}"></a></h2></td>
    <!--<td th:text="${pet.pic}"></td>-->
    </tr>
</table>
<!--<a href="/cheese/add">Add</a> |-->
<!--<a href="/cheese/remove">Remove</a>-->


</body>
</html>


