<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<h1 th:text="${title}">Default Title</h1>
<a href="/pop/pet/view">View all pets</a>
<a href="/pop/user/logout">Logout</a>


<nav th:replace="fragments :: navigation"></nav>

<!--<p th:unless="${Pets} and ${Pet.size()}">No pets currently available. Check back soon! </p>-->

<!--<p><img src="Pictures/pop_pictures/Trooper" width="420px" height="419px" alt="being cute"/> </p>-->

<!--<div th:switch="${pet.name}">-->
    <!--<div th:case="'Bentley'">-->
        <!--<Img th:src="@{~/static/images/Bentley.jpg}">-->
    <!--</div>-->
    <!--<div th:case="'Elvis'">-->
        <!--<Img th:src="@{~/static/images/Elvis.jpg}">-->
    <!--</div>-->
    <!--<div th:case="'Emma2'">-->
        <!--<Img th:src="@{~/static/images/Emma2.jpg}">-->
    <!--</div>-->
    <!--<div th:case="'Josie'">-->
        <!--<Img th:src="@{~/static/images/Josie.jpg}">-->
    <!--</div>-->
    <!--<div th:case="'Meatloaf'">-->
        <!--<Img th:src="@{~/static/images/Meatloaf.jpg}">-->
    <!--</div>-->
    <!--<div th:case="'Smokey'">-->
        <!--<Img th:src="@{~/static/images/Smokey.jpg}">-->
    <!--</div>-->
    <!--<div th:case="'Tara'">-->
        <!--<Img th:src="@{~/static/images/Tara.jpg}">-->
    <!--</div>-->
    <!--<div th:case="'Trooper'">-->
        <!--<Img th:src="@{~/static/images/Trooper.jpg}">-->
    <!--</div>-->
<!--</div>-->

<table class="table">

    <tr><th>Name</th><td th:text="${Pet.name}"></td></tr>
    <tr><th>Age</th><td th:text="${Pet.age}"></td></tr>
    <tr><th>Size</th><td th:text="${Pet.size}"></td></tr>
    <tr><th>Spayed/Neutered</th><td th:text="${Pet.fixed}"></td></tr>
    <tr><th>Ideal Family</th><td th:text="${Pet.idealFamily}"></td></tr>
    <tr><th>Personality</th><td th:text="${Pet.personality}"></td></tr>
    <tr><th>Vocal</th><td th:text="${Pet.vocal}"></td></tr>
    <tr><th>Species</th><td th:text="${Pet.species}"></td></tr>
    <tr><th>Breed</th><td th:text="${Pet.breed}"></td></tr>
    <tr><th>Adoption Status</th><td th:text="${Pet.adoptionStatus}"></td></tr>
    <tr><th>Potty trained</th><td th:text="${Pet.training}"></td></tr>
    <tr><th>Color</th><td th:text="${Pet.color}"></td></tr>
    <tr><th>Gender</th><td th:text="${Pet.gender}"></td></tr>
    <tr><th>Training/Tricks</th><td th:text="${Pet.training}"></td></tr>
    <tr><th>Good with children</th><td th:text="${Pet.children}"></td></tr>
    <tr><th>Good with cats</th><td th:text="${Pet.cats}"></td></tr>
    <tr><th>Dog friendly</th><td th:text="${Pet.dogFriendly}"></td></tr>
    <tr><th>Rescue name</th><td th:text="${Pet.rescue}"></td></tr>
    <tr><th>Contact Rescue</th><td th:text="${Pet.contactPet}"></td></tr>
    <tr><th>Location</th><td th:text="${Pet.location}"></td></tr>
    <tr><th>Interests</th><td th:text="${Pet.interests}"></td></tr>
    <tr><th>About</th><td th:text="${Pet.about}"></td</tr>


<tr>



    </tr>

</table>



</body>
</html>