<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body style="background-color:teal;">
<h1 th:text="${title}">404</h1>
<meta charset="UTF-8"/>
<!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->

<h1> 404: The journey of life is filled with many disappointments.....this is one of them.</h1>
<br/>
<h2>The page you were trying to reach
    <br/>
    is unavailable. Just like this cutie is unavailable. <img th:src="@{~/images/Bentley2.jpg}" width="350" height="500px"/>

</h2>
<br/>

<h1> But don't worry, you can find your own best friend by returning to <a href="/pop/pet/view" style="color: black">view more pets.</a></h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>