<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">POP</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'POP' + ${title == null ? '' : ' :: ' + title}">POP</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 
</head>
<body>
<nav th:fragment="navigation">

    <img th:src="@{~/images/pop_logo.jpg}" width="250px" height="125px" align="right"/>

    <a href="/pop"> Home </a>
</nav>


<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">POP</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/User/login}">User Login</a></li>
                <li><a th:href="@{/User/add}">User Signup</a></li>
                <li><a th:href="@{/Rescue/register}">Rescue Signup </a></li>
                <li><a th:href="@{/Rescue/signIn}">Rescue Login </a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>




