<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">Welcome To POP!!</title>
</head>
<body>
    <H1 th:text="${title}"></H1>
    <p th:text="${aBitAbout}"> </p>

    <a href="/pop/user/login">Log In</a>
    <a href="/pop/user/add">Sign Up</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> 

    <a href="/pop/rescue/register">Rescue Sign Up</a>
    <a href="/pop/rescue/signIn">Rescue Sign In</a>

</body>
</html>