<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">Welcome To POP!!</title>
</head>
<body>
    <img th:src="@{~/images/pop_logo_two.jpg}" width="300px" height="150px" align="right"/>
    <H1 th:text="${title}"></H1>
    <p th:text="${aBitAbout}"> </p>

    <!--<img th:src="@{~/images/adopt.jpg}" width="200px" height="100px"/>-->
    <a href="/pop/user/login">Log In</a>
    <a href="/pop/user/add">Sign Up</a>
    <br>
    <img th:src="@{~/images/adopt.jpg}" width="220px" height="110px"/>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



    <a href="/pop/rescue/register">Rescue Sign Up</a>
    <a href="/pop/rescue/signIn">Rescue Sign In</a>

</body>
</html>